In [3]:
student={"name":"raj","age":22}
print(student['age'])


student["Degree"]="bca"
print(student)


student['name']="sumit"
print(student)

22
{'name': 'raj', 'age': 22, 'Degree': 'bca'}
{'name': 'sumit', 'age': 22, 'Degree': 'bca'}

In [7]:
student={"name":"raj","age":22,"degree":"bca"}

# student.pop('name')
# print(student)

# student.popitem()
# print(student)


# del student["name"]
# print(student)

student.clear()
print(student)

{}

In [11]:
student={"name":"raj","age":22,"degree":"bca"}

for i in student:
    print(i)


for value in student.values():
    print(value)


for key,value in student.items():
    print(key,value)

name
age
degree
raj
22
bca
name raj
age 22
degree bca

In [13]:
student={
    "student1":{"name":"raaj","age":23},
    "student2":{"name":"sumit","age":22}
}


print(student["student2"])

{'name': 'sumit', 'age': 22}

In [ ]:
pairs=[("a",1),("b",2),("c",3)]
dict_from_list=dict(pairs)
print(dict_from_list)



keys=["name","age","degree"]
df=dict.fromkeys(keys,"raaj")
print(df)

d1 = {'a' : 1, 'b' : 2}
print(d1.get('a'))  # Output: 1

{'a': 1, 'b': 2, 'c': 3}
{'name': 'raaj', 'age': 'raaj', 'degree': 'raaj'}
1

In [ ]:
## 1

d = {
    "student1":{"name":"raaj","age":23},
    "student2":{"name":"sumit","age":22},
    "student3":{"name":"Rudra","age":21}
}

print(d)

{'student1': {'name': 'raaj', 'age': 23}, 'student2': {'name': 'sumit', 'age': 22}, 'student3': {'name': 'Rudra', 'age': 21}}

In [2]:
## 2

d_1 = {
    "student1":{"name":"raaj","age":23},
    "student2":{"name":"sumit","age":22},
    "student3":{"name":"Rudra","age":21},
}

d_1["student4"]={"name":"Ankit","age":24}

print(d_1)

{'student1': {'name': 'raaj', 'age': 23}, 'student2': {'name': 'sumit', 'age': 22}, 'student3': {'name': 'Rudra', 'age': 21}, 'student4': {'name': 'Ankit', 'age': 24}}

In [6]:
## 3

d = {
    "student1":{"name":"raaj","age":23,"marks":80},
    "student2":{"name":"sumit","age":22,"marks":85},
    "student3":{"name":"Rudra","age":21,"marks":90}
}

print(d["student1"]["marks"])
print(d["student2"]["marks"])
print(d["student3"]["marks"])

80
85
90

In [8]:
## 4

d_3 = {
    "student1":{"name":"raaj","age":23},
    "student2":{"name":"sumit","age":22},
    "student3":{"name":"Rudra","age":21}
}

d_3.pop("student2")

print(d_3)

{'student1': {'name': 'raaj', 'age': 23}, 'student3': {'name': 'Rudra', 'age': 21}}

In [10]:
## 5

d_3 = {
     "student1":{"name":"raaj","age":23,"marks":80},
    "student2":{"name":"sumit","age":22,"marks":85},
    "student3":{"name":"Rudra","age":21,"marks":90}
}

for marks in d_3:
    print(d_3[marks]["marks"])

for name in d_3:
    print(d_3[name]["name"])

80
85
90
raaj
sumit
Rudra

In [14]:
## 6

emp = {"name": "Ravi", "salary": 50000, "dept": "IT"}
emp["salary"] = 55000
print(emp)

emp["city"] = "Pune"
print(emp)

del emp["salary"]
print(emp)

{'name': 'Ravi', 'salary': 55000, 'dept': 'IT'}
{'name': 'Ravi', 'salary': 55000, 'dept': 'IT', 'city': 'Pune'}
{'name': 'Ravi', 'dept': 'IT', 'city': 'Pune'}

In [16]:
## 7

keys = ["name", "age", "city"]
values = ["Amit", 25, "Delhi"]

my_dict = dict(zip(keys, values))

print(my_dict)

{'name': 'Amit', 'age': 25, 'city': 'Delhi'}

In [ ]:
students = {
    "101": {"name": "Riya", "marks": 90},
    "102": {"name": "Rohan", "marks": 78}
}

print(students["101"]["name"])

Riya