In [4]:
def greet():
    print("hello raaj")

greet()


def add(a,b):
    result=a+b
    print(result)

add(4,7)

hello raaj
11

In [55]:
def sub(a,b):
    substraction=a-b
    return substraction

result=sub(9,4)
print(result)

5

In [56]:
def greet(name,age):
    print(f"my {name} and my age is {age}")


greet(age=45,name="sumit")

my sumit and my age is 45

In [18]:
# def calculate(a,b):
#     addition=a+b
#     sub=a-b
#     return addition,sub
    

# print(calculate(2,3))


# def add(a,b):
#     return a+b

# print(add(2,4))


def num(*a):
    print(a)

num(4,7,8,9)

(4, 7, 8, 9)

In [28]:
def show_info(**details):
    for key,value in details.items():
        print(key,value)
    

show_info(name="sumit",age=45)

name sumit
age 45

In [1]:
## Q-1 Write a function greet() that prints “Hello, welcome to Python class

def greet():
    print("Hello, Welcome to the python class")

greet()

Hello, Welcome to the python class

In [ ]:
# Q-2 Write a function welcome(name) that prints “Welcome, <name>!”

def welcome(name):
    print(f"Welcome, {name}")

welcome("Rudra")

Welcome, Rudra

In [ ]:
# Q-3 Write a function add_two_numbers() that takes two numbers as input (using input function) and prints their sum.

def add_two_numbers():
    a = eval(input("Enter first number:"))
    b = eval(input("Enter second number:"))
    print(a+b)

add_two_numbers()

11

In [ ]:
# Q-4 Write a function square() that takes a number and prints its square.

def square(num):
    print(num**2)
square(5)

25

In [15]:
# Q-5 Write a function print_details() that prints your name, course, and city.

def print_details(name, course, city):
    name = name
    course = course
    city = city

    return name, course, city

print("Rudra", "B.Tech", "Ahmedabad")

x,y,z = print_details("Rudra", "B.Tech", "Ahmedabad")
print("name", x)
print("course", y)
print("city", z)

Rudra B.Tech Ahmedabad
name Rudra
course B.Tech
city Ahmedabad

In [17]:
# Q-6 Write a function add(a, b) that returns the sum of two numbers.

def add(a, b):
    return a+b

add(10, 11)

21

In [18]:
# Q-7 Write a function subtract(a, b) that returns the difference between two numbers.

def subtract(a, b):
    return a-b

subtract(33, 12)

21

In [20]:
# Q-8 Write a function area_of_circle(radius) that returns the area of a circle.

def area_of_circle(radius):
    pi = 3.14
    area = pi *(radius**2)
    return area

area_of_circle(7)

153.86

In [23]:
# Q-9 Write a function average_of_three(a, b, c) that returns the average of three numbers.

def average_of_three(a, b, c):
    avg = (a+b+c)/3
    return avg

average_of_three(43, 21, 17)

27.0

In [27]:
# Q-10 Write a function is_even(num) that returns True if number is even, otherwise False.

def is_even(num):
    if num % 2 == 0:
        return True
    else:
        return False
    
is_even(44)

True

In [28]:
# Q-11 Write a function power(base, exponent=2) that returns base raised to exponent.

def power(base, exceponent=2):
    return base ** exceponent

power(3, 5)

243

In [29]:
# Q-12 Write a function introduce(name, country="India") that prints "My name is <name> and I’m from <country>".

def introduce(name, country="India"):
    print(f"My name is {name} and I'm from {country}")

introduce("Rudra", "London")

My name is Rudra and I'm from London

In [32]:
# Q-13 Write a function student_info(name, age, course) and call it using keyword arguments (in any order).

def student_info(**details):
    for key, value in details.items():
        print(f"{key}: {value}")

student_info(name="Rudra", age=21, course="B.Tech")

name: Rudra
age: 21
course: B.Tech

In [36]:
# Q-14 Write a function employee(name, salary, company) and pass arguments in different orders using keywords.

def employee(name, salary, company):
    print(f"name: {name}, salary: {salary}, company: {company}")

employee(name="Rudra", salary=80000, company="Google")

name: Rudra, salary: 80000, company: Google

In [39]:
# Q-15 Write a function add_all(*numbers) that returns the sum of all given numbers.

def add_all(*numbers):
    total = sum(numbers)
    print(total)

add_all(4, 5, 6, 7 ,8)

30

In [40]:
# Q-16 Write a function find_max(*nums) that returns the maximum number among all arguments.

def find_max(*nums):
    return max(nums)
find_max(4, 7, 3, 8, 5)

8

In [42]:
# Q-17 Write a function show_details(**info) that prints key-value pairs of employee details.

def show_details(**info):
    for key, value in info.items():
        print(f"{key}: {value}")

show_details(name="Rudra", age=21, city="Ahmedabad")

name: Rudra
age: 21
city: Ahmedabad

In [46]:
# Q-18 Write a function operations(a, b) that returns sum and difference of two numbers.

def operations(a, b):
    sum = a + b
    difference = a - b
    return sum, difference
operations(10, 5)

# x, y = operations(10, 5)
# print("sum :", x)
# print("difference :", y)

(15, 5)

In [49]:
# Q-19 Write a function calculate_marks(english, maths, science) that returns total marks and average marks.

def calculate_marks(english, maths, science):
    total_marks = english + maths + science
    average = total_marks/3
    return total_marks, average

total_marks, average = calculate_marks(85, 90, 78)
print("Total Marks:", total_marks)
print("Average Marks:", average)

Total Marks: 253
Average Marks: 84.33333333333333

In [61]:
# Exercise 1: Create a function in Python

def fun():
    print("Hello")
fun()

Hello

In [62]:
# Exercise 2: Create a function with variable length of arguments

def var_length(*args):
    for arg in args:
        print(arg)
var_length(4, 7, 8, 9)

4
7
8
9

In [63]:
# Exercise 3: Return multiple values from a function

def multi(a, b):
    sum = a + b
    diff = a - b
    return sum, diff
multi(9, 4)

(13, 5)