In [2]:
for i in range(5):
    for j in range(i+1):
        print(i+1, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [1]:
for i in range(5):
    for j in range(i+1):
        print(j+1, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [3]:
for i in range(5):
    for j in range(5-i):
        print(i+1, end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [3]:
for i in range(5,0,-1):
    for j in range(i):
        print('5', end=' ')
    print()

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [9]:
for i in range(6, 1, -1):
    for j in range(i):
        print(j, end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [20]:
for i in range(5):
    for j in range(i):
        print(i+1, end=' ')
    print()

2
3 3
4 4 4
5 5 5 5

In [2]:
# Pattern:
# 1
# 33
# 555
# 7777
# 99999

for i in range(1, 6):
    print(str(2*i-1)*i)

1
33
555
7777
99999

In [4]:
for i in range(5,0,-1):
    for j in range(i):
        print(i, end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [8]:
for i in range(1,6):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [12]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [21]:
num = 1
for i in range(5):
    for j in range(i):
        print(num + i - j - 1, end=" ")
    num += i
    print()

1
3 2
6 5 4
10 9 8 7

In [20]:
num = 1
for i in range(5):
    for j in range(i):
        print(num + i - j - 1, end=' ')
        num += i
    print()

1
3 4
8 10 12
18 21 24 27

In [30]:
for i in range(1,6):
    for j in range(i):
        print(i,end=" ")
    for k in range(i+1,6):
        print(k,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [13]:
for i in range(5):
    for k in range(4-i):
        print(" ",end=" ")
    for j in range(i+1):
        if j==0 or j==i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for i in range(4):
    for k in range(i+1):
        print(" ",end=" ")
    for j in range(4-i):
        if j==0 or j==3-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

        *
      * *
    *   *
  *     *
*       *
  *     *
    *   *
      * *
        *

In [15]:
for i in range(5):
    for k in range(4-i):
        print(" ",end="")
    for j in range(i+1):
        if j==0 or j==i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for i in range(4):
    for k in range(i+1):
        print(" ",end="")
    for j in range(4-i):
        if j==0 or j==3-i:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [32]:
str = "Python"
for i in range(len(str)):
    print(str[0:i+1])

P
Py
Pyt
Pyth
Pytho
Python

In [33]:
for i in range(1,11):
    for j in range(i):
        print(i*(j+1),end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [50]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=" ")
    for k in range(2*i):
        print(" ",end=" ")
    for l in range(i+1,6):
        print(l,end=" ")
    print()
for i in range(5, 0, -1):
    for j in range(5, i - 1, -1):
        print(j, end=" ")
    for k in range(2*(i-1)):
        print(" ", end=" ")
    for l in range(i, 6):
        print(l, end=" ")
    print()

5 4 3 2 1 1 2 3 4 5
5 4 3 2     2 3 4 5
5 4 3         3 4 5
5 4             4 5
5                 5
5                 5
5 4             4 5
5 4 3         3 4 5
5 4 3 2     2 3 4 5
5 4 3 2 1 1 2 3 4 5

In [6]:
for i in range(5):
    for j in range(5, i , -1):
        print(j, end=" ")
    for k in range(2*i):
        print(" ", end=" ")
    for l in range(i+1, 6):
        print(l, end=" ")
    print()

5 4 3 2 1 1 2 3 4 5
5 4 3 2     2 3 4 5
5 4 3         3 4 5
5 4             4 5
5                 5

In [47]:
alpha,digit=ord("a"),1
for i in range(5):
    for j in range(4-i):
        print(' ',end="")
    for k in range(i+1):
        if i%2==0:
            print(digit,end=" ")
            digit+=1
        else:
            print(chr(alpha),end=" ")
            alpha+=1
    print()
alpha,digit=ord("f"),4
for i in range(4):
    for j in range(i+1):
        print(' ',end="")
    for k in range(4-i):
        if i%2==0:
            print(chr(alpha),end=" ")
            alpha-=1
        else:
            print(digit,end=" ")
            digit-=1
    print()

    1
   a b
  2 3 4
 c d e f
5 6 7 8 9
 f e d c
  4 3 2
   b a
    1

In [5]:
for i in range(5):
    for j in range(5,i,-1):
        print(j,end=" ")
    for k in range(2*i):
        print(" ",end=" ")
    for l in range(i+1,6):
        print(l,end=" ")
    print()
alpha,digit=ord("a"),1
for i in range(5):
    for j in range(4-i):
        print(' ',end="")
    for k in range(i+1):
        if i%2==0:
            print(digit,end=" ")
            digit+=1
        else:
            print(chr(alpha),end=" ")
            alpha+=1
    print()
alpha,digit=ord("f"),4
for i in range(4):
    for j in range(i+1):
        print(' ',end="")
    for k in range(4-i):
        if i%2==0:
            print(chr(alpha),end=" ")
            alpha-=1
        else:
            print(digit,end=" ")
            digit-=1
    print()
for i in range(5, 0, -1):
    for j in range(5, i - 1, -1):
        print(j, end=" ")
    for k in range(2*(i-1)):
        print(" ", end=" ")
    for l in range(i, 6):
        print(l, end=" ")
    print()

5 4 3 2 1 1 2 3 4 5
5 4 3 2     2 3 4 5
5 4 3         3 4 5
5 4             4 5
5                 5
    1
   a b
  2 3 4
 c d e f
5 6 7 8 9
 f e d c
  4 3 2
   b a
    1
5                 5
5 4             4 5
5 4 3         3 4 5
5 4 3 2     2 3 4 5
5 4 3 2 1 1 2 3 4 5